body {
  font-family: Helvtica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: block;
  top: 0px;
}

header .nav {
  font-family: Helvtica, sans-serif;
  font-size: 22px;
  color: seashell;
  margin: 23px 10px;
  float: right;
  ;
}

header img {
  height: 50px;
  padding-left: 10px;
  padding-top: 9px;
  float: left;
}

.mission {
  height: 700px;
  width: 1200px;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
  /*background-image: url('resources/pictures/mission-background.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  align-content:center;
  display: flex;
  margin: 69px auto;
}

.mission #text{
  margin: auto;
  background-color: black;
  width: 100%;
}

.tea {
  display: inline-flex;
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tea img {
  height: 200px;
  width: 300px;
  padding: 10px 10px;
}

.locations {
  height: 500px;
  width: 1200px;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
  /*background-image: url('resources/pictures/locations-background.jpg'); */
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 85px;
}


#location1, #location2, #location3 {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  background-color: black;
}

.contact {
  height: 200px;
  width: 100%;

}

footer {
  text-align: left;
  padding: 20px;
}